.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  position: relative;
  justify-content: center;
}

/* HEADER */
.popup-header {
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  border-bottom: 1px solid #eee;
  z-index: 10;
}

.close-btn {
  position: sticky;
  top: 8px;
  right: 12px;
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

.tree-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 12px;
    justify-content: center;

}

.tree-navigation button {
  padding: 6px 12px;
  width: 60px;
  height: 32px;
  border: 2px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.tree-navigation button:hover:not(:disabled) {
  background-color: #007bff;
  color: white;
}

.tree-navigation button.disabled {
  opacity: 0.5;
  cursor: default;
}

.tree-navigation button.active {
  background-color: #ddd;
  color: #333;
  cursor: default;
}

.tree-container {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.zoom-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 20px;
}

.zoom-controls button {
  padding: 5px 10px;
  transition: 0.2s;
  position: relative;
}

/* .zoom-controls button:hover {
  background-color: #007bff;
  color: white;
} */

.zoom-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.zoom-icon:hover {
  transform: scale(1.1);
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 0px 0;
  border-top: 1px solid #eee;
}